
#include "menu.h"

ID MENU

BEGIN
	POPUP "&Line"
	BEGIN
        MENUITEM "&DDA" , LINE_DDA
        MENUITEM "&MidPoint" , LINE_MIDPOINT
		MENUITEM "&Parametric", LINE_PARAMETRIC
	END
    POPUP "&Ellipse"
	BEGIN
		MENUITEM "&Direct", ELLIPSE_DIRECT
		MENUITEM "&Polar", ELLIPSE_POLAR
        MENUITEM "&MidPoint" , ELLIPSE_MIDPOINT


	END
	POPUP "&Curves"
	BEGIN
		MENUITEM "&Bezier", BEZIER_QUADRATIC_CURVE
		MENUITEM "&Hermite", HERMITE_CURVE
        MENUITEM "&Splines" , SPLINES

	END
    POPUP "&Clipping"
	BEGIN

	END
    POPUP "&File"

	BEGIN
	MENUITEM "&Save", Save_ID
    MENUITEM "&Load" , Load_ID
	END


END
